<main>
    {{> title data="Personal Info" big=true}}
    <div><b>{{name}}</b></div>
    <br>
    <div><i>Occupation:</i> {{occupation}}</div>
    <br>
    <div> Was born in {{birthdate}} in {{birthplace}}.</div>
    <div> Was died in {{deathdate}} in {{deathplace}}.</div>
    <br>
    <div><i>Nationality:</i> {{nationality}}</div>
    <br>
    <hr>
    <br>
    {{> title data="Known for" big=true}}
    <div>
        {{#each known_for}}
        <ul><li> {{this}} </li></ul>
        {{/each}}
    </div>
    <br>
    {{> title data="Quotes:" big=false}}
        <div>
        {{#each quotes}}
        <ul><li><q> {{this}} </q></li></ul>
        {{/each}}
    </div>
    <br>
    <hr>
    <br>
    <div><b>Education:</b></div>
    <div>
        {{#each education}}
        <ul>
            <li>
                <div>{{institution}} ({{year}}) </div>
                <div><i>Field:</i> {{field}}</div>
                <div><i>Degree:</i> {{degree}}</div>
            </li>
        </ul>
        {{/each}}
    </div>
    <br>
    <br>
    <div><b>Under Influences:</b></div>
    <div>
        {{#each influences}}
        <ul><li> {{this}} </li></ul>
        {{/each}}
    </div>
    <br>
    <div><b>Influenced Others:</b></div>
    <div>
        {{#each influenced}}
        <ul><li> {{this}} </li></ul>
        {{/each}}
    </div>
    <br>
    <div><b>Life Partners:</b></div>
    <div>
        {{#each partners}}
            <ul><li>{{name}} - {{relationship}} ({{years}}) </li></ul>
        {{/each}}
    </div>
    <br>
    <hr>
    <br>
    {{> title data="Results" big=false}}
    <div><b>Notable Publications:</b></div>
    <div>
        {{#each notable_publications}}
        <ul>
            <li> "{{title}}" </li>
            <div><i> in {{year}} published by {{publisher}} </i></div>
        </ul>
        {{/each}}
    </div>
    <br>
    <div><b>Major Discoveries:</b></div>
    <div>
        {{#each major_discoveries}}
        <ul>
            <li> "{{title}}" ({{year}}) </li>
            <div><i> Details:</i></div>
            <blockquote> {{description}} </blockquote>
        </ul>
        {{/each}}
    </div>
    <br>
    <div><b>Awards:</b></div>
    <div>
        {{#each awards}}
        <ul>
            <li> {{title}} ({{year}}) </li>
            <div><i> Description:</i></div>
            <blockquote> {{description}} </blockquote>
        </ul>
        {{/each}}
    </div>
    <br>
    <div><b>Contributions:</b></div>
    <div>
        {{#with contributions}}
        <ul>
            <li> {{title}} ({{year}}) </li>
            <div><i> Value:</i></div>
            <blockquote> {{description}} </blockquote>
        </ul>
        {{/with}}
    </div>
</main>