<div>
    {{#with person}}
    <main>
        <section>
            {{> title data="Personal Info" big=true}}
            <div><b> {{name}} </b></div>
            <br>
            <div><i>Age:</i> {{age}} </div>
            <br>
            <div><i>Gender:</i> {{gender}} </div>
            <div>
            <br>
                <i><b>Address:</b></i> 
                {{#with address}}
                    <div><i>| street:</i> {{street}} </div>
                    <div><i>| city:</i> {{city}} </div>
                    <div><i>| state:</i> {{state}} </div>
                    <div><i>| zip:</i> {{zip}} </div>
                    <div><i>| country:</i> {{country}} </div>
                {{/with}}
            </div>   
           
        </section>
    <br>
    <hr>
    <br>
        <section>
            {{> title data="Person`s Education" big=false}}
            {{#each education}}
            <ul>
                <li>
                    <div><b>{{university}}</b></div>
                    <div><i>graduated in {{graduationYear}} </i></div>
                    <div>Degree: {{degree}} </div>
                    <div>Major: {{major}}</div>
                </li>
            </ul>
            {{/each}}
        </section>
    <br>
    <hr>
    <br>    
        <section>
            {{> title data="Person`s Work Experience" big=false}}
            {{#each workExperience}}
            <ul>
                <li>
                    <div><b>{{title}}</b></div>
                    <div><i>from {{startDate}} to {{endDate}}</i></div>
                    <div><b>Company: {{company}}</b> (founded in {{year_founded}}, {{industry}})</div>
                    <br>
                    <div>
                        <ins>Responsibilities</ins>: {{#each responsibilities}}
                        <ul>
                            <li>{{this}}</li>
                        </ul>
                        {{/each}}
                    </div>
                    <br>
                    <div>
                        <b><i>Company employees:</i></b> {{#each employees}}
                        <ul>
                            <li>
                                <div>{{name}}</div>
                                <div>{{position}} in {{department}} department</div>
                                <br>
                                <div>
                                    Projects: {{#each projects}}
                                    <ul>
                                        <li>
                                            <div>{{name}} ({{status}})</div>
                                            <div><i>{{description}}</i></div>
                                            <br>
                                            <div>
                                                <i>Teams:</i> {{#each teams}}
                                                <ul>
                                                    <li>
                                                        <div>{{team_name}}</div>
                                                        <br>
                                                        <div>                                                        
                                                            <ul>
                                                                <li>
                                                                    {{#with team_leader}}
                                                                        <div>{{title}} - {{name}}</div>
                                                                        <div>{{email}}</div>
                                                                    {{/with}}
                                                                </li>
                                                                <br>
                                                                {{#each team_members}}
                                                                <li>
                                                                    <div>{{title}} - {{name}}</div>
                                                                    <div>{{email}}</div>
                                                                    <br>
                                                                    <div>
                                                                        <i>Skills:</i> {{#each skills}}
                                                                        <ul><li>{{this}}</li></ul>
                                                                        {{/each}}
                                                                    </div>
                                                                    <br>
                                                                    <div>
                                                                        <i>Projects:</i> {{#each projects}}
                                                                        <ul>
                                                                            <li>
                                                                                <div>{{name}}</div>
                                                                                <div><i>{{description}}</i></div>
                                                                                <br>
                                                                                <div>
                                                                                    Technologies: {{#each technologies}}
                                                                                    <ul><li>{{this}}</li></ul>
                                                                                    {{/each}}
                                                                                </div>
                                                                                <br>
                                                                                <div>
                                                                                    Team members: {{#each team_members}}
                                                                                    <ul><li><div>{{title}} - {{name}}</div></li></ul>
                                                                                    {{/each}}
                                                                                </div>
                                                                            </li>
                                                                        </ul>
                                                                        {{/each}}
                                                                    </div>
                                                                </li>
                                                                {{/each}}
                                                            </ul>                                                        
                                                        </div>
                                                        <br>
                                                        <div>

                                                        </div>
                                                    </li>
                                                </ul>
                                                {{/each}}
                                            </div>
                                        </li>
                                    </ul>
                                    {{/each}}
                                </div>
                            </li>
                        </ul>
                        {{/each}}
                    </div>

                </li>
            </ul>
            {{/each}}
        </section>
    </main>
    {{/with}}  
</div>


{{!-- 

                              ],
                              team_members: [
                                {
                                  name: 'Bob Lee',
                                  title:
                                    'Software Engineer',
                                },
                                {
                                  name: 'Cindy Chen',
                                  title: 'UI Designer', --}}
