{{!-- 
Це код container файлу для summary сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<div>
    {{#with main}}
    <main>
        <section>
            {{> title data="Work Experience" big=true}}
            <div>
                {{#each works}}
                    <ul>
                        <li class="mb-5">
                            <div>{{position}}</div>
                            <div class="my-5">
                                {{duration.from}} - 
                                    {{#if duration.to}} 
                                        {{duration.to}} {{else}} <i>..continues</i> 
                                    {{/if}}
                            </div>
                            <div>
                                {{#if company.url}} 
                                {{> link text=company.name href=company.url blank=true noLine=true}}
                                {{else}}
                                <b>{{company.name}}</b>
                                {{/if}}
                            </div>
                            <div class="my-5">
                                <strong>Projects: ({{projectAmount}})</strong>
                            </div>
                            <div> 
                            <ol>
                                {{#each projects}}                            
                                <li class="mb-5">
                                    <div>{{> link text=name href=url blank=true noLine=true}}</div>
                                    <div>  
                                        <p><i>Project description:</i> {{about}}</p>
                                    </div>
                                    <div class="mt-5"><em><ins>Used stacks </ins>: ({{stacksAmount}})</em></div>
                                    <div>                                       
                                        <ul>
                                        {{#each stacks}} 
                                            <li>{{name}}</li> 
                                        {{/each}}
                                        </ul>
                                    </div>
                                    <div class="mt-5"><em><ins>Achieved awards</ins>: ({{awardsAmount}})</em></div>
                                    <div class="mb-4">                                         
                                        <ul>
                                        {{#each awards}} 
                                            <li>{{name}}</li>
                                        {{/each}}
                                        </ul>
                                    </div>
                                </li>                        
                            {{/each}}
                            </ol>
                            </div>
                        </li>
                    </ul>
                {{/each}}
            </div>
        </section>
      
    </main>
    {{/with}}  
</div>

{{!-- 
    Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
    Адже наш layout/default.hbs має вже структуру HTML
--}}
