<div class="card p-3 my-5">            
            <div class="card">
                <div class="card-header">
                {{#with title}}
                    <div class="h5 mb-0">{{userName}}</div>
                    <div class="pb-2">{{caption}}</div>
                    <div>{{date}}</div>
                {{/with}}
                </div>
                <div class="card-body">
                {{#with reviewBody}}
                    {{#with seller}}
                        <div class="mb-3">{{title}}: {{value}}</div>
                    {{/with}}
                    {{#with rating}}
                        <div class="mb-3">{{title}}: {{value}}</div>
                    {{/with}}
                    {{#each text}}
                        <div class="mb-3">{{this}}</div>
                    {{/each}}
                    {{#with advantages}}
                        <div><b>{{title}}:</b></div>
                        <div class="mb-3"> {{text}}</div>
                    {{/with}}
                    {{#with disadvantages}}
                        <div><b>{{title}}:</b></div>
                        <div class="mb-3"> {{text}}</div>
                    {{/with}}
                    {{#each images}}
                        <img src="{{this}}" alt="review" width="90px" class="gx-2">
                    {{/each}}
                </div>            
            </div>
                <div>
                    {{#each coments}}
                    <div class="alert alert-light mt-4 ms-5 text-dark" role="alert">
                        <div class="h5">{{userName}}</div>
                        <div>{{date}}</div>
                        <div>{{text}}</div>
                    </div>
                    {{/each}}
                </div>
                {{/with}}
        </div>